@import url("https://fonts.googleapis.com/css2?family=Mrs+Sheppards&display=swap");

/***
  Resets and wrapper
***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  display: flex;
  flex-direction: column;
  font: 14px "Century Gothic", Futura, sans-serif;
  height: 100%;
  width: 100%;
}
body,
#root {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}
/*
-
-
*/

/***
  Game Info
***/
.game-board {
  align-items: center;
  display: flex;
}
.board {
  border: 1px solid #151515;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  width: 300px;
}
/*
  -
  -
  */

/***
  Board
***/
.game-board {
  align-items: center;
  display: flex;
}
.board {
  border: 1px solid #151515;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  width: 300px;
}
/*
  -
  -
  */

/***
  Squares
***/
.square {
  align-items: center;
  border-color: #151515;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex: 1 1 33%;
  font-family: "Mrs Sheppards", cursive;
  font-size: 75px;
  height: 100px;
  justify-content: center;

  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(4),
  &:nth-child(5) {
    border-left-width: 0;
    border-top-width: 0;
  }

  &:nth-child(3),
  &:nth-child(6) {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
  }

  &:nth-child(7),
  &:nth-child(8) {
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-width: 0;
  }

  &:nth-child(9) {
    border-width: 0;
  }
}
/*
-
-
*/
